/**
 * Site header
 */
.site-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid $grey-color-light;
    background-color: $header-background-color;
    min-height: $header-line-height;
    height: $header-line-height;
} 

.site-title {
    font-weight: $header-font-weight;
    font-size: 48px;
    line-height: $header-line-height;
    letter-spacing: -1px;
    margin-left: 32px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $header-title-color;
    }
}

.site-subtitle {
    position: relative;
    font-weight: $header-font-weight;
    color: $header-title-color;
    font-size: 20px;
}

.navigation {
    list-style: none;
    background: #111;

    position: fixed;
    width: $nav-width;
    height: 100%;
    top: 72px;
    left: 0;
    z-index: 0;
    margin-left: 0;
    padding-top: 10px;
}

.nav-item {
    width: 200px;
    padding-left: 10px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
}

.nav-item a {
    display: block;
    padding: 0.25em;
    padding-left: 10px;
    background: black;
    color: white;
    font-size: 1.0em;
    text-decoration: none;
}

.nav-item a:hover {
    color: black;
    background: white;
}

/**
 * Page content
 */
.page-content {
    position: relative;
    min-height: 100%;
    background-color: white;
    top: 70px;
    bottom: 100%;
    margin-left: $nav-width;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    z-index: 1;
}


