---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-weight: 400;

$spacing-unit:    30px;

$header-line-height:        72px;
$header-background-color:   #bb0033; /*#2a7ae2;*/
$header-font-weight:        300;
$header-title-color:               #fdfdfd;

$text-color:                #111;
$background-color:          #fdfdfd;
$brand-color:               #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$quote-text-color:  #666666;
$code-background-color: #eeeeee;

$nav-width:         200px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
